# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\xsolla\Desktop\Allwork\UniversityWork2Course\simple-char-902-v2-LegendaryZer0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
